<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Borrador_Plantilla_Propuesta_Proyecto</Template><TotalTime>1339</TotalTime><Application>LibreOffice/25.8.3.2$Windows_X86_64 LibreOffice_project/8ca8d55c161d602844f5428fa4b58097424e324e</Application><AppVersion>15.0000</AppVersion><Pages>4</Pages><Words>447</Words><Characters>2527</Characters><CharactersWithSpaces>2960</CharactersWithSpaces><Paragraphs>28</Paragraphs></Properties>